<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
             http://www.springframework.org/schema/websocket
             http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <!--<websocket:handlers>-->
        <!--&lt;!&ndash;配置匹配webSoketHandler处理器的路径&ndash;&gt;-->
        <!--<websocket:mapping path="/send" handler="webSoketHandler"/>-->
        <!--&lt;!&ndash;配置HandShake拦截器&ndash;&gt;-->
        <!--<websocket:handshake-interceptors>-->
            <!--<bean id="handShake" class="com.erp.spring.websocket.HandShake"/>-->
        <!--</websocket:handshake-interceptors>-->
        <!--<websocket:sockjs />-->
    <!--</websocket:handlers>-->

    <!--<bean id="webSoketHandler" class="com.erp.spring.websocket.WebSoketHandler"/>-->

    <!--&lt;!&ndash; 配置websocket消息的最大缓冲区长度 &ndash;&gt;-->
    <!--<bean class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">-->
        <!--<property name="maxTextMessageBufferSize" value="8192"/>-->
        <!--<property name="maxBinaryMessageBufferSize" value="8192"/>-->
    <!--</bean>-->

</beans>